
body {
  font-family: Cambria, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background: linear-gradient(#4245f4, #b61d1d);
}
.Container {
  width:400px;
  background:#fff;
  padding:30px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  text-align:center;
  margin: 50px auto;
}
.Container h1{

    font-size: 40px;
    margin-bottom: 40px;
}
.social-icons { 
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
    }

    .social-icons .icon {
    position: relative;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #555;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    }

    .social-icons .icon:hover {
    transform: translateY(-5px);
    }


    .social-icons .icon span {
    position: absolute;
    bottom: 75px;
    background: #fff;
    color: #111;
    padding: 6px 12px;
    border-radius: 6px;   
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    .social-icons .icon:hover span {
    opacity: 1;
    bottom: 75px;
    }

   
    .icon.github:hover { background: #000000; color: #fff; }
    .icon.gmail:hover { background: #000000; color: #fff; } 
    


.icon.Google:hover {
    background: linear-gradient(45deg,  #000000, #000000);
    color: #fff;
}
.form-field label{

    font-size: 17px;
    font-weight: 600;
}
.form-field input{

     width: 85%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
    .submit-btn{  
    width: 60%;
 margin-top: 15px;
  cursor: pointer;
  background: #4285F4;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  }

    .submit-btn:hover {
  opacity:0.9;
    }   

    .link-btn{
    color: rgb(62, 1, 160);
    padding: 10px 0px;
    
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    }
    
    .form-field p{

      font-size: 16px;
    }
 .form-options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 10px;
    color: #555;
}

.form-options label {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px; 
    white-space: nowrap;
}
@media screen and (max-width: 600px) {
    
   
    .container {
        width: 90%;
        margin: 20px auto; 
        padding: 20px;
    }
    
    
    h1 {
        font-size: 24px;
    }

   
    .create-account-button, .login-button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}

